/.tidyall.d/
/.build/
/_build/
/Build
/Build.bat
/blib/
/Makefile
/pm_to_blib

/carton.lock
/.carton/
/local/

nytprof.out
nytprof/

cover_db/

*.bak
*.old
*~
*.swp
*.o
*.obj

!LICENSE

/_build_params

MYMETA.*

/Fl-*
eg/output/*
eg/raw.cxx.orig
eg/cxx2xs.pl
eg/raw.cxx
t/*.txt
*.orig

TODO


Untitled*
eg/
xs/Fl.cxx
xs/temp.xsi
SciTE.session
